<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= form_for @article do |f| %>
        <div class="form-group">
          <%= f.label :title %> </br>
          <%= f.text_field :title, placeholder: "Title of Article...", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %> </br>
          <%= f.text_area :description, rows: 10, placeholder: "Body of Article...", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class:"btn btn-success" %>
        </div>
      <% end %>

      <%= link_to "Back to articles listing", articles_path %>
    </div>
  </div>
</div>
